<div class="container-fluid">
    <img src="https://www.flaticon.com/svg/static/icons/svg/184/184567.svg" />
    
    <form class="form">
        <input type="text" class="form-control" placeholder="start typing...."/>
            <input type="submit" placeholder="Submit" class="btn btn-danger">
    </form>
</div>
