<div class="container-fluid">
    <section class="header">
        <div id="jumbotron" class="jumbotron">
            <h1 class="display-4">Welcome to the Virtual Burger Eatathon!</h1>
            <p class="lead">Type in the name of the burger you will eat, then click "Submit". Once you have eaten, click
                "Eaten" to add to your list. Be unique with your flavors, combos and names. Happy Inventing!! </p>
            <hr class="my-4">
            {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
        </div>
    </section>

    <section class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-head" id="left">
                    <h2 class="headerText">Yet To Devour and Enjoy!!</h2>
                </div>
                <div class="panel-body">
                    {{!-- May need a list here with buttons in order to NOTbe side by side. --}}
                    {{!-- <button type="button" class="btn btn-success">Devour</button> --}}


                    {{#each Burgers}}
                    {{#unless eaten}}
                    <li class="m-1 p-1"><strong>{{this.name}} <button type="button" data-id="{{this.id}}"
                                class="btn btn-success chowDown">Eat
                                Now!</button></strong></li>
                    {{/unless}}
                    {{/each}}


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-head" id="right">
                    <h2 class="headerText">Yum Yum Done!!</h2>
                </div>
                <div class="panel-body">

                    {{#each Burgers}}
                    {{#if eaten}}
                    <li><strong>{{this.name}}</strong></li>
                    {{/if}}
                    {{/each}}


                </div>
            </div>
        </div>
    </section>

    {{!--
    <button type="button" class="btn btn-secondary">Devour</button>
    <button type="button" class="btn btn-success">Devour</button>
    --}}

    <section id="addBurg">
        <img src="https://www.flaticon.com/svg/static/icons/svg/184/184567.svg" />
        <panel>
            <form class="create-form">
                <div id="toAdd" class="container">
                    <label for="newburger">
                        <h2 class="headerText">Input Your Creation:</h2>
                    </label>
                    <input type="text" class="form-control" id="newburger" name="burger"
                        placeholder="Start Typing Here..." />
                    <input type="submit" placeholder="Submit" class="btn btn-danger">
                </div>
            </form>
        </panel>
    </section>

    {{!-- <section class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-head" id="right">
                    <strong>Input Your Creation</strong>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>


    </section>

</div> --}}